.main-header {
   background-color: #ff8f9e;
    color: white;
    padding: 10px 15px;
    height: 50px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1001;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    width: 80px; 
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.header-left .header-icon-left {
    height: 30px; 
    width: auto;
    cursor: pointer;
}

.header-center {
    flex-grow: 1; 
    text-align: center; 
}

.header-center .header-logo {
    height: 50px; 
    width: auto;
    margin: 0;
    vertical-align: middle; 
}

.header-right {
    width: 80px; 
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.header-right .header-icon-right {
    height: 25px;
    width: auto;
    cursor: pointer;
    margin-left: 10px; 
    margin-right: 30px;
}
 
    #main-nav {
        position: fixed; 
        top: 70px; 
        width: 100%;
        z-index: 1000; 
        padding: 15px 0;
        transition: background-color 0.3s ease;
        position: fixed;
    }
    
    .transparent-nav {
        background-color: rgba(241, 15, 166, 0); 
    }
    
    #main-nav:hover {
        background-color: #4b2354; 
        color: white !important; 
    }
    
    .scrolled-nav {
        background-color: #4b2354;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    }
    
    #main-nav ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }
    
    #main-nav ul li {
        display: inline;
        margin: 0 20px;
    }
    
    #main-nav ul li a {
        color: #eb5084; 
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }
    
    .scrolled-nav a {
        color: white !important;
    }

    *{
      margin: 0;
      padding: 0;
    }

        /* búsqueda */
    #barraBusqueda {
        border: 1px solid #ccc;
        padding: 8px 10px;
        border-radius: 5px;
        background-color: white;
        width: 0; 
        opacity: 0; 
        
        vertical-align: middle; 
        margin-left: 10px; 
        margin-right: 0;
        
        transition: width 0.3s ease, opacity 0.3s ease; 
    }

    .barra-busqueda-visible {
        width: 150px !important; 
        opacity: 1 !important;
        padding: 8px 10px; 
    }

    body{
     margin: 0;
    }

.contenedor-botones {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton-imagen {
    text-decoration: none; 
}

.boton-imagen img {
    width: 500px;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

.boton-imagen img:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

    /* Estilos de los Botones */
    .boton-grande {
        padding: 20px 40px; 
        font-size: 3em; 
        font-weight: bold;
        color: white; 
        background-color:  #ff8f9e;
        border: none;
        border-radius: 8px; 
        cursor: pointer;
        transition: background-color 0.3s ease; 
        min-width: 200px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }

    .boton-grande:hover {
        background-color:  #d83566; 
        transform: translateY(-2px); 
    }

 .banner-img {
      position: relative;
      background-image: url(IMG/banner3.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      overflow: hidden;
    }

    body {
       padding-top: 130px; 
        font-family: "Montserrat", sans-serif;
        background-color: #ffffff;
        color: #4b2354;
        text-align: center;
        margin: 0;
    }
    .bannerotoño{
      width: 100%;
      
    }

    h1 {
      font-size: 2em;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    .linea {
      width: 80%;
      height: 2px;
      background-color: #ff9263;
      margin: 10px auto 40px auto;
    }

    .contenedor {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      padding-bottom: 60px;
    }

    .producto {
      width: 280px;
      background-color: #fff;
      border-radius: 25px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      padding: 20px;
      transition: transform 0.3s;
    }

    .producto:hover {
      transform: scale(1.05);
    }

    .producto img {
      width: 200px;
      height: 400px;
      border-radius: 20px;
      object-fit: cover;
    }

    .producto h3 {
      font-size: 1em;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .producto p {
      font-size: 0.9em;
      color: #555;
      margin: 0;
    }

    .producto a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

.producto a:hover {
  color: #ac4b17; 
}

TENDENCIAS
h1 {
      font-size: 2em;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    .linea {
      width: 80%;
      height: 2px;
      background-color: #b88ac3;
      margin: 10px auto 40px auto;
    }

    .contenedor {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      padding-bottom: 60px;
    }

    .producto {
      width: 280px;
      background-color: #fff;
      border-radius: 25px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      padding: 20px;
      transition: transform 0.3s;
    }

    .producto:hover {
      transform: scale(1.05);
    }

    .producto img {
      width: 100%;
      border-radius: 20px;
      object-fit: cover;
    }

    .producto h3 {
      font-size: 1em;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .producto p {
      font-size: 0.9em;
      color: #555;
      margin: 0;
    }

    .producto a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

.producto a:hover {
  color: #b88ac3; 
}

OFERTAS
    h1 {
      font-size: 2em;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    .linea {
      width: 80%;
      height: 2px;
      background-color: #b88ac3;
      margin: 10px auto 40px auto;
    }

    .contenedor {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      padding-bottom: 60px;
    }

    .producto {
      width: 280px;
      background-color: #fff;
      border-radius: 25px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      padding: 20px;
      transition: transform 0.3s;
    }

    .producto:hover {
      transform: scale(1.05);
    }

    .producto img {
      width: 100%;
      border-radius: 20px;
      object-fit: cover;
    }

    .producto h3 {
      font-size: 1em;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .producto p {
      font-size: 0.9em;
      color: #555;
      margin: 0;
    }

    .producto a {
        text-decoration: none;
        color: inherit;
        transition: color 0.2s;
    }

    .producto a:hover {
        color: #b88ac3; 
    }

    footer {
      background-color: #ff8f9e;
      color: #fff;
      padding: 40px 60px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 50px;
    }

    .footer-section {
      flex: 1;
      min-width: 250px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 1.1rem;
      margin-bottom: 15px;
      font-weight: 600;
    }

    .social-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .social-list li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-weight: 400;
    }

    .social-list img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      opacity: 0.9;
      filter: brightness(0) invert(1);
    }

    .contact-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-weight: 400;
    }
    .contact-item img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      opacity: 0.9;
      filter: brightness(0) invert(1);
    }

    .subscribe p {
      margin-bottom: 15px;
      line-height: 1.4;
    }

    .subscribe input {
      padding: 10px 12px;
      border-radius: 8px;
      border: none;
      outline: none;
      width: 240px;
      color: #5e435c;
      font-family: "Montserrat", sans-serif;
    }

    .subscribe input::placeholder {
      color: #999999;
    }
    .footer-bottom {
      width: 100%;
      text-align: center;
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      padding-top: 15px;
      font-size: 0.9rem;
      color: #fff;
      font-weight: 400;
    }
    .footer-bottom img {
      display: block;
      margin: 10px auto;
      width: 100px;
      opacity: 0.9;
      filter: brightness(0) invert(1);
    }


.modal {
  display: none; 
  position: fixed;
  z-index: 1002; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); 
}

.modal-contenido {
  background-color: #ffffff; 
  margin: 8% auto; 
  padding: 30px;
  border: none;
  border-radius: 10px;
  width: 90%; 
  max-width: 400px; 
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  text-align: center;
}

.cerrar {
  color: #aaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1; 
}

.cerrar:hover,
.cerrar:focus {
  color: #4b2354;
  text-decoration: none;
}